body {
  margin: 0;
  /* text-align: center; */
  background-color: antiquewhite;
  background-image: url("/images/bg3.jpg");
  background-position: cover; }
  body #layout-main {
    height: 100%; }
